a {
    text-decoration: unset;
    color: #1B3769;
}

#navigation-bar {
    height: 75px;
    text-align: center;
}
#navigation-bar img {
    height: 75px;
}

#fhc-logo {
    width: 80%;
}

#hero-carousel {
    position: relative;
}
#title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:30%;
    height: 100%;
    z-index: 2;

    background-color: rgba(53, 66, 126, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item {
    height: 200px;
}
.carousel-item img {
    margin-top: -10%;
}

#carousel-img-1 {
    background-image: url("../images/marshall-sq-1.jpg");
    background-size: cover;
    background-position: center;
}
#carousel-img-2 {
    background-image: url("../images/marshall-sq-2.jpg");
    background-size: cover;
    background-position: center;
}
#carousel-img-3 {
    background-image: url("../images/marshall-sq-3.jpg");
    background-size: cover;
    background-position: center;
}
#carousel-img-4 {
    background-image: url("../images/marshall-sq-4.jpg");
    background-size: cover;
    background-position: center;
}
#carousel-img-5 {
    background-image: url("../images/marshall-sq-5.jpg");
    background-size: cover;
    background-position: center;
}

#core-values, #mission, #meet-the-team {
    padding: 20px 5%;
}

#core-values, #meet-the-team {
    background-color: white;
    color: #1B3769;

    text-align: center;
}
#core-values h2 {
    margin-bottom: 15px;
}
#core-values h3 {
    font-size: 20px;
    margin: 0;
}
#core-values p {
    text-align: justify;
    padding: 0 10px;
}

#mission {
    background-color: #1B3769;
    color: white;

    text-align: center;
}
.mission {
    padding-left: 0;
    padding-right: 0;
}
#mission p {
    margin: 0;
    text-align: center;
    padding: 0 10px;
}

.member-img {
    max-height: 450px;
    padding: 20px 0;
}

.container-fluid {
    padding: 0;
}

@media screen and (min-width: 768px) {
    .carousel-item {
        height: 300px;
    }

    #core-values, #meet-the-team {
        padding: 20px 10%;
    }
    #mission {
        padding: 30px 10%;
    }

    #mission p {    
        font-size: 22px;
        text-align: center;
    }
    .mission {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (min-width: 980px) {

    #navigation-bar {
        height: 100px;
    }
    #navigation-bar img {
        height: 100px;
    }

    .carousel-item {
        height: 400px;
    }
    #core-values, #meet-the-team {
        padding: 20px 12%;
    }
    #mission {
        padding: 40px 12%;
    }

    #core-values h3 {
        font-size: 25px;
    }
    #core-values p {
        font-size: 20px;
    }

}
@media screen and (min-width: 1200px) {
    .carousel-item {
        height: 500px;
    }
    #core-values, #meet-the-team {
        padding: 20px 15%;
    }
    #mission {
        padding: 40px 15%;
    }
}
@media screen and (min-width: 1500px) {
    .carousel-item {
        height: 600px;
    }
    #core-values, #meet-the-team {
        padding: 20px 20%;
    }
    #mission {
        padding: 40px 20%;
    }
}