a {
    text-decoration: none;
    color: unset;
}

body {
    background-color: transparent;
}
p {
    margin: 0;
}
.mobile-menu-hidden {
    height: 75px;
    background-color: transparent;
    position: absolute;
}
.mobile-menu-shown {
    height: 100vh;
    background-color: #808c9c;
}
.menu-items ul {
    list-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
}
.menu-items li {
    padding: 10px 0;
}
#landing-page {
    min-height: 100vh;
    background-image: url('../images/arlington-va-2.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
#navigation-bar {
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation-bar img {
    height: 75px;
}
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    width: 45px;
    padding: 28px 10px;
}
.top-bar, .bottom-bar {
    border-bottom: 3px solid #A68F69;
    transition: all 750ms;
}
.top-bar-menu {
    transform: translateY(8px) rotate(45deg);
}
.bottom-bar-menu {
    transform: translateY(-8px) rotate(-45deg);
}

#core-values, #mission, #our-team, #contact-us {
    background-color: white;
}
.section-title {
    text-align: center;
    
}
.section-title h1 {
    padding: 10px 0;
    margin: 0;
    font-family: 'Belleza', sans-serif;
}
.section-content {
    padding: 10px 5px 0 5px;
    font-family: 'Montserrat', sans-serif;
}
#core-values h3 {
    margin: 0;
    color: #A68F69;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.card-spacing {
    padding: 20px 20px;
}
.card-format {
    background-color: #26527E;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.member-img {
    max-height: 250px;
    padding: 20px 0;
}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 980px) {

}
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1500px) {

}